{
  "description": "dependencies for nodejs codebox",
  "name": "nodejs-codebox",
  "version": "0.0.1",
  "dependencies": {
    "request": "*",
    "promise": "^7.0.1",
    "node-slackr": "^0.1.0",
    "ioredis": "^1.6.1",
    "lodash" : "^4.5.0",
    "geopoint" : "~1.0.1",
    "cheerio": "^0.19.0",
    "braintree": "^1.35.0",
    "jspdf": "^1.0.0",
    "mailgun-js": "0.7.0",

    {% for machinepack in machinepacks %}"{{ machinepack }}": "*",
    {% endfor %}

    "syncano-js-4": "^4.1.4",
    "syncano": "~0.4.7"
    }
}
