{
    "description": "dependencies for nodejs codebox",
    "name": "nodejs-codebox",
    "version": "0.0.1",
    "dependencies": {
        "request": "*",
        "promise": "^7.0.1",
        "node-slackr": "^0.1.0",
        "ioredis": "^1.6.1",
        "lodash" : "^3.10.1",

        {% for machinepack in machinepacks %}"{{ machinepack }}": "*",
        {% endfor %}

        "syncano-js-4": "^4.1.4",
        "syncano": "~0.2.5"
    }
}
